################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ByteBank/bin/Debug/netcoreapp3.1
/src/ByteBank/obj
